<template>
  <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#sobre">Sobre</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tecnologias">Tecnologias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projectos">Projectos</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactos">Contactos</a> 
        </li>
      </ul>
  </nav>
  <div id="main">
    <div class="main-container">
      <div class=" main-item profile-container">
        <div class="profile-image">
          <img src="./assets/img/Foto_de_Perfil.png" alt="Foto de Perfil">
        </div>
        <div class="profile-description">
          <h3>Nome: Ivandro Adelino Chindumbo</h3>
          <p>Sexo: Masculino</p>
          <p>Idade: 25 Anos</p>
          <p>Nacinalidade: Angola</p>
          <p>Nível Académico: Licenciado</p>
          <p>Softskills: Front-End Developer</p>
        </div>
      </div>
      <div class="main-item sobre">
        <h1>Sobre</h1>
        <p>
          Sou Ivandro Adelino Chindumbo, um desenvolvedor front-end com experiência em HTML, CSS, JavaScript, Vue.js, Git e GitHub. 
          Nascido em Angola, tenho uma formação sólida em Informática de Gestão. Minha paixão pela tecnologia 
          motiva-me a criar interfaces cativantes e funcionais, buscando sempre novos desafios e oportunidades 
          de aprendizado.
        </p>
      </div>
      <div class="main-item tecnologias">
        <h1>Tecnologias</h1>
        <div class="tecnologia-content">
          <img src="./assets/img/tecnologia.png" alt="tecnologia-imagem">
          <p>
            Como desenvolvedor front-end, minhas ferramentas essenciais são HTML, CSS e JavaScript, que utilizo 
            para criar interfaces web envolventes e interativas. Além disso, sou especialista em Vue.js, um 
            framework JavaScript que me permite desenvolver aplicativos web dinâmicos e responsivos. 
            Para garantir um trabalho colaborativo e eficiente, utilizo o Git e o GitHub para controle de versão 
            e compartilhamento de código. Com essa combinação de habilidades e ferramentas, estou sempre pronto 
            para enfrentar novos desafios e criar experiências digitais excepcionais.
          </p>
        </div>
      </div>
      <div class="main-item projectos">
        <h1>Projectos</h1>
        <div class="project-container">
          <div class="project-content">
            <div class="project-foto">
              <a href=""><h5 class="nome-project">Pass-In</h5></a>
              <img src=".\assets\img\pass-in.png" alt="Processo-selectivo">
            </div>
            <div class="project-description">
              <p>Este projeto de verificação de check-in é uma solução desenvolvida para automatizar e simplificar o processo de registro 
                de entrada em eventos, locais ou serviços. Ele inclui a implementação de sistemas webs para verificação e permitir que os 
                participantes ou clientes confirmem sua presença de forma rápida e 
                eficiente. O projeto envolve somente o desenvolvimento de um sistema de front-end para criação de uma interface amigável 
                para os usuários finais. Esta solução pode ser útil em uma variedade de contextos, desde 
                conferências e eventos corporativos até academias e locais de entretenimento, ajudando a melhorar a experiência do 
                usuário e a eficiência operacional.
              </p>
            </div>
          </div>
          <div class="project-content">
            <div class="project-foto">
              <a href=""> <h5 class="nome-project">Processo Selectivo</h5></a>              
              <img src=".\assets\img\processo-selectivo.png" alt="Pass-in">
            </div>
              <div class="project-description">
                <p>Este projeto de processo seletivo para candidatura a uma vaga de emprego envolve a criação e implementação de um sistema 
                  eficiente para atrair, avaliar e selecionar candidatos qualificados para posições específicas dentro de uma empresa. 
                  E incluiu o desenvolvimento de um site de carreiras onde os candidatos podem se candidatar, a criação de materiais 
                  de recrutamento.O objetivo é criar uma experiência transparente e eficiente tanto para os candidatos quanto para 
                  os recrutadores, garantindo que a empresa possa identificar e contratar os melhores talentos para suas necessidades.´
                </p>
              </div>
            </div>
          </div>
        </div>
      <div class="main-item contactos">
        <h1>Contactos</h1>
        <div class="contacto-container">
          <div class="contacto-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
          </svg>
          <a href="">
            Telemóvel: 937649555</a></div>
          <div class="contacto-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
              <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
            </svg>
          <a href="">Whatsaap: 937649555</a>
          </div>
          <div class="contacto-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
              <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
            </svg>
            <a href="https://www.instagram.com/ivansftdejc/">Instagram: ivansftdejc</a>
          </div>
          <div class="contacto-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
          </svg>
          <a href="https://www.facebook.com/profile.php?id=61551577535460">Facebook: Ivandro Chindumbo</a>
        </div>
          <div class="contacto-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
            </svg>
            <a href="https://github.com/ivansftdejc">GitHub: ivansftdejc</a>
          </div>
        </div>

      </div>

    </div>
  </div>
   <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(223, 216, 216);
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
nav {
  background-color: #0c0c0c;
  margin-top: 30px;
  border-radius: 35px;

}
nav .navbar-nav {
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.navbar-nav li a {
  color: rgb(223, 216, 216);
  font-size: 25px;
  font-weight: bold;
}
#main .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.main-item {
  background-color: #0c0c0c;
  padding: 15px 30px;
  margin-bottom: 20px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  border-radius: 30px;
}
.main-container .profile-container{  
  background-color: #0c0c0c;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 10px 0px;
}

.profile-container img {
width:230px;
height: 230px;
border: 2px solid rgb(59, 57, 57);
background-color: black;
padding: 0px 19px;
border-radius: 150px;
margin-left: 10px;
}
.profile-container .profile-description {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-right: 150px;


}
.projectos .project-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content:space-between;
}

.contacto-container{
  display: flex;
  flex-direction: column;
}

.tecnologias .tecnologia-content{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.tecnologias img{
  width:700px ;
  height: 170px;
  border-radius: 30px;
}
.project-container .project-content{
  display: flex;
  flex-direction: row;
  gap: 30px;  
}
.project-content .project-description{
  margin-top: 40px;
}
.project-content img{
  width: 500px;
  height: 350px;
  border: 2px solid rgb(59, 57, 57);
  border-radius: 30px;
  margin-bottom: 10px;
}
.project-foto a{
  text-align:left;
  text-decoration: none;
}
.contacto-container .contacto-item{
  display:flex;
  flex-direction: row;
  gap: 10px;
}
.contacto-item a{
  text-decoration: none;
}

</style>
